*.scd
site
.venv
.cache

node_modules

sync_media.sh

## aux TeX files
_minted*
*.minted
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.run.xml
*.synctex.gz
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.pyg
*.pdf
*.xdv
*.lol
*.bcf-*
*-SAVE-ERROR