*.scd
site
.venv


tex/media
tex/fonts
tex/chapters.tex
tex/frontmatter.tex

## aux TeX files
_minted-*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.run.xml
*.synctex.gz
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.pyg
*.pdf
*.xdv
*.lol